
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .value {
        width: 100%px !important;
        height: 681px;
    }

    .valuetext {
        margin-bottom: -38px !important;
    }
    .a2 {
        height: 527px
    }
    @@media screen and (max-width: 763px) {
        .a1 {
            margin-top: 111px!important;
        }
        .a2 {
            height: 747px!important;
        }
        #sp h2 {
            font-size: 4em!important;
        }
        .a3 {
            font-size: 18px;
        }
    }

</style>
<!--About Us Page Css-->
<link href="~/Assets/css/about.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons-core.min.css" integrity="sha512-OmevVDECSDeo7M4G+Nvh0+VLVGS2XnEOkXWJcJ0TRom3GpGgc/ryQIgpRZw20mb5eR2U0sqsm33MaR8yD1zdsQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="~/Assets/js/nicepage.js"></script>
<link href="~/Assets/css/about/nicepage.css" rel="stylesheet" />
<link href="~/Assets/css/about/about-us.css" rel="stylesheet" />
<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
<link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Archivo+Black:400">

<!-----------------------------------Header Section Start-------------------------------------------->
<section class="u-clearfix u-gradient u-section-1" id="sec-0a76">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-subtitle u-text u-text-black u-text-1">
            &nbsp;<span class="u-icon u-text-custom-color-5 u-icon-1">
                <svg class="u-svg-content" viewBox="0 0 508.044 508.044" x="0px" y="0px" style="width: 1em; height: 1em;">
                    <g>
                        <g>
                            <path d="M0.108,352.536c0,66.794,54.144,120.938,120.937,120.938c66.794,0,120.938-54.144,120.938-120.938    s-54.144-120.937-120.938-120.937c-13.727,0-26.867,2.393-39.168,6.61C109.093,82.118,230.814-18.543,117.979,64.303    C-7.138,156.17-0.026,348.84,0.114,352.371C0.114,352.426,0.108,352.475,0.108,352.536z"></path>
                            <path d="M266.169,352.536c0,66.794,54.144,120.938,120.938,120.938s120.938-54.144,120.938-120.938S453.9,231.599,387.106,231.599    c-13.728,0-26.867,2.393-39.168,6.61C375.154,82.118,496.875-18.543,384.04,64.303C258.923,156.17,266.034,348.84,266.175,352.371    C266.175,352.426,266.169,352.475,266.169,352.536z"></path>
                        </g>
                    </g>
                </svg><img>
            </span>&nbsp;<span style="font-weight: 700;">On a mission to create <fb>succ​ess</fb> story for millions of <fr>Indians</fr> what makes them <fb>happy</fb> with financial <fr>freedom</fr></span>&nbsp;
            
            
            
            <span class="u-icon u-text-custom-color-5 u-icon-2">
                <svg class="u-svg-content" viewBox="0 0 508.044 508.044" x="0px" y="0px" style="width: 1em; height: 1em; color:black !important">
                    <g>
                        <g>
                            <path d="M507.93,155.673c0-0.055,0.006-0.11,0.006-0.165c0-66.793-54.145-120.938-120.938-120.938S266.061,88.714,266.061,155.508    c0,66.794,54.15,120.938,120.938,120.938c13.727,0,26.867-2.393,39.162-6.609c-27.209,156.09-148.93,256.752-36.096,173.905    C515.182,351.874,508.07,159.198,507.93,155.673z"></path>
                            <path d="M120.938,276.445c13.727,0,26.867-2.393,39.168-6.609c-27.216,156.09-148.937,256.752-36.102,173.905    c125.117-91.867,118.006-284.543,117.865-288.068c0-0.055,0.006-0.11,0.006-0.165c0-66.793-54.144-120.938-120.937-120.938    C54.144,34.57,0,88.714,0,155.508C0,222.302,54.15,276.445,120.938,276.445z"></path>
                        </g>
                    </g>
                </svg><img>
            </span>
        </h2>
        <img class="u-image u-image-default u-image-1" src="~/Assets/images/about/rdq-finserv-about-header.png" alt="" data-image-width="3817" data-image-height="2722" data-animation-name="fadeIn" data-animation-duration="1500" data-animation-delay="0" data-animation-direction="Down">
        <h4 class="u-align-justify u-text u-text-2">
            <span style="font-size: 1rem;">
                <b>RDQ Finserv</b> was formed as an offshoot of the highly
                successful <b>RDQ Group</b>, a pioneer in
                the world of financial trading. As a <b>
                    Fintech
                    NBFC
                </b>, we seek to offer value-based financial products to people across
                India.​​ Based
                out of Kolkata, <b>RDQ Finserv</b> is the
                brainchild <b>of Mr Swarnendu Jana</b>, its
                MD and CEO. Initially created to address a consumer’s financial needs and cater
                to the growing demand for a technology-based personal credit line, the products
                we offer are all backed by a self-developed robust and efficient digital app.
            </span>
            <br>
        </h4>
    </div>
</section>
<!-----------------------------------Header Section End-------------------------------------------->
<!---------------------------------------Directors Section Start-------------------------------------------->
<section class="u-clearfix u-section-2" id="sec-9a95">
    <div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
        <h2 class="u-align-center u-text u-text-custom-color-1 u-text-1" style="color:blue!important"> Our&nbsp;Leadership</h2>
        <div class="u-align-center u-shape u-shape-svg u-text-custom-color-1 u-shape-1">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 50" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b29"></use></svg>
            <svg class="u-svg-content" viewBox="0 0 160 50" x="0px" y="0px" id="svg-7b29" style="enable-background:new 0 0 160 50;color:black!important">
             <svg height="210" width="500">
    <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(0,0,0);stroke-width:5" />
</svg>
            </svg>
        </div>
    </div>
</section>


<!---------------------------------------Swarnendu Jana-------------------------------------------->
<section class="u-clearfix u-section-3" id="sec-d5dd">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h2 class="u-align-center u-text u-text-1">
                    <span style="font-weight: 700;"> Swarnendu Jana,&nbsp;</span>
                    <span style="font-size: 1rem;">MD &amp; CEO</span>
                </h2>
                <p class="u-align-justify u-custom-font u-font-georgia u-text u-text-2" style="color: black !important">
                    <span style="font-size: 1.5rem;"> M</span>r. Jana, young, industrious and aspiring entrepreneur has a vision to transform the BFSI landscape by leveraging technology into scalable business model that is user friendly, easily accessible and highly cost effective and where the business motto is ingrained in strong customer focus, business ethics and corporate responsibility and beyond towards the society at large.<br>
                    <br>He has embarked on this journey way back in 2017 with the same vision and since then he is soaring to great heights and making a mark in the industry with an established technology, stock broking businesses to his name and now foraying in the NBFC space. He strives to work and deliver something more and that surpasses beyond expectation.<br>
                    <br>In his pastime he enjoys music and also follows the gentleman’s game called cricket. hhh
                </p>
            </div>
        </div>
        <div class="u-align-left u-border-2 u-border-custom-color-2 u-left-0 u-shape u-shape-rectangle u-shape-1"></div>
        <img class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-hover-feature u-image u-image-1" data-image-width="2505" data-image-height="2795" src="~/Assets/images/about/swarnendu-jana.jpg">
    </div>

</section>



<!---------------------------------------Mr. Pralay Brahmachari-------------------------------------------->
<section class="u-clearfix u-section-4 a1" id="carousel_9013">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h2 class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1">
                    <span style="font-weight: 700;"> Pralay Brahmachari</span>,&nbsp;<span style="font-size: 1rem;"> Chief Operating Officer</span>
                </h2>
                <p class="u-align-justify u-custom-font u-font-georgia u-text u-text-2" style="color: black !important">
                    <span style="font-size: 1.5rem;"></span>
                    <span style="font-size: 1.5rem;">A</span>n enthusiast
                    banker and a finance professional with over 20 years of experience in the
                    industry,<br>Mr Pralay Brahmachari’s achievements are too many to list.
                    A front liner
                    throughout his career, he has been instrumental in charting successful courses
                    for many endeavours during his times with such renowned banking industry
                    stalwarts like SREI BNP Paribas, Kotak-ING Vysya Bank, ICICI bank etc. Joining
                    hands with the RDQ group gave him another opportunity to expand his horizon,
                    but with a difference.&nbsp;&nbsp;<br>
                    <br>He passionately
                    believes in RDQ Finserv. He aspires to make this Fintech NBFC a force to reckon
                    with in the industry. His enthusiasm and zeal inspire his juniors to strive for
                    more. A man who was never satisfied with scaling known peaks now seeks to
                    navigate through the unchartered waters of Eastern India’s economy and
                    establish RDQ Finserv as a pioneer in this field.&nbsp;<br>
                    <br>Nothing is impossible for this man. He takes
                    everything in his stride. Be it technology, a robust business plan or
                    widespread operations, he is at the helm guiding and steering his team towards
                    success.
                </p>
            </div>
        </div>
        <div class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-border-2 u-border-custom-color-2 u-left-0 u-shape u-shape-rectangle u-shape-1"></div>
        <img class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-hover-feature u-image u-image-1" data-image-width="1433" data-image-height="1600" src="~/Assets/images/about/pralay-brahmachari.jpg">
    </div>

</section>


<!---------------------------------------Sanu Bhattacharya-------------------------------------------->
<section class="u-clearfix u-section-5 a2" id="carousel_f009">
    <div class="u-clearfix u-sheet u-valign-middle-sm u-sheet-1">
        <div class="u-container-style u-group u-shape-rectangle u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h2 class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1">
                    <span style="font-weight: 700;"> Sanu Bhattacharya</span>,&nbsp;<span style="font-size: 1rem;"> Technology Officer</span>
                </h2>
                <p class="u-align-justify u-custom-font u-font-georgia u-text u-text-2" style="color: black !important">
                    <span style="font-size: 1.5rem;"> A</span> young seeker and achiever, Mr Sanu Bhattacharya, began his technical journey in the year 2018 with the RDQ group. His rise to becoming a technical officer and the backbone of RDQ Finserv’s digital app has been nothing less than meteoric.&nbsp;<br>
                    <br>Dreams and visions make this man. His role has been nothing short of path-breaking. He has been instrumental in automating financial processes and ushering in digital transformation at RDQ Finserv. Building operating systems, networks and user-friendly apps is just the beginning of what this technical genius is capable of.<br>
                    <br>Sharing the vision of making RDQ Finserv a global leader in providing “Fintech” services, Mr Sanu Bhattacharya, with his keen technical eye and expertise, has been instrumental in setting up the technology required to fuel the robust operations of RDQ Finserv.
                </p>
            </div>
        </div>
        <div class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-border-2 u-border-custom-color-2 u-left-0 u-shape u-shape-rectangle u-shape-1"></div>
        <img class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-hover-feature u-image u-image-1" data-image-width="1433" data-image-height="1600" src="~/Assets/images/about/sanu-bhattacharya.jpg">
    </div>

</section>



<!---------------------------------------Directors Section End-------------------------------------------->
<!---------------------------------------Values Section Start-------------------------------------------->
<div id="sp" class="valuediv values ">
    <div class="container">
        <h2 class="valueheader">Values </h2>
        <h3 class="tp valuetext a3">
            Our values are anchored around our business ethics, consumer focus and
            corporate responsibility towards society at large.
        </h3>
        <br />
        <br>
        <br>
        <div class="row valuestep">
            <div class="col-sm-2"><p class="mp xyz">V</p> <h5 class="a44">Vision</h5></div>
            <div class="col-sm-2"><p class="mp xyz">A</p> <h5  class="a44">Action</h5></div>
            <div class="col-sm-2"><p class="mp xyz">L</p> <h5  class="a44">Leadership</h5></div>
            <div class="col-sm-2"><p class="mp xyz">U</p> <h5  class="a44 a9" style="margin-left:-20px">Understanding</h5></div>
            <div class="col-sm-2"><p class="mp xyz">E</p> <h5  class="a44">Ethics</h5></div>
            <div class="col-sm-2"><p class="mp xyz">S</p> <h5  class="a44">Service</h5></div>
        </div>
    </div>
</div>


<!---------------------------------------Values Section End-------------------------------------------->
<!---------------------------------------How It Works Start-------------------------------------------->
<section class="u-align-center u-clearfix u-section-6 a10" id="carousel_9681">
    <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-expanded-width-xs u-shape u-shape-svg u-text-custom-color-3 u-shape-1">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 80" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0b7f"></use></svg>
            <svg class="u-svg-content" viewBox="0 0 160 80" x="0px" y="0px" id="svg-0b7f" style="enable-background:new 0 0 160 80;"><path d="M160,0H0c0,44.2,35.8,80,80,80S160,44.2,160,0z"></path></svg>
        </div>
        <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1" style="color:red!important"> How It Works?</h1>
        <div class="u-align-center u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-style u-custom-item u-gradient u-list-item u-repeater-item u-list-item-1">
                    <div class="u-container-layout u-similar-container u-valign-top-xs u-container-layout-1">
                        <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-container-style u-gradient u-group u-palette-1-base u-radius-50 u-shape-round u-group-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <h2 class="u-align-center-xs u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-2">01</h2>
                            </div>
                        </div>
                        <h5 class="u-text u-text-3"> Quick Register</h5>
                        <p class="u-align-center-xs u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-4">
                            Fill the simple form<span style="font-style: normal;">
                                <span style="font-weight: 700;"></span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-custom-item u-gradient u-list-item u-repeater-item u-list-item-2">
                    <div class="u-container-layout u-similar-container u-valign-top-xs u-container-layout-3">
                        <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-container-style u-gradient u-group u-palette-1-base u-radius-50 u-shape-round u-group-2">
                            <div class="u-container-layout u-valign-middle u-container-layout-4">
                                <h2 class="u-align-center-xs u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-default u-text-5">02</h2>
                            </div>
                        </div>
                        <h5 class="u-text u-text-6">
                            Select Multiple Offers<br>
                        </h5>
                        <p class="u-align-center-xs u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-7"> List of offers from multiple banks</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-custom-item u-gradient u-list-item u-repeater-item u-list-item-3">
                    <div class="u-container-layout u-similar-container u-valign-top-xs u-container-layout-5">
                        <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-container-style u-gradient u-group u-palette-1-base u-radius-50 u-shape-round u-group-3">
                            <div class="u-container-layout u-valign-middle u-container-layout-6">
                                <h2 class="u-align-center-xs u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-default u-text-8">03</h2>
                            </div>
                        </div>
                        <h5 class="u-text u-text-9"> Apply</h5>
                        <p class="u-align-center-xs u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-10"> Quick apply less than 2 minutes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------How It Works End-------------------------------------------->
<!---------------------------------------More Reason  Start-------------------------------------------->
<section class="u-clearfix u-valign-middle-lg u-valign-middle-md u-section-7" id="carousel_d295">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1"> More Reason We Choose&nbsp;RDQ</h2>
        <div class="u-align-center u-expanded-width-xs u-shape u-shape-svg u-text-custom-color-1 u-shape-1">
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 50" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-61a9"></use></svg>
            <svg class="u-svg-content" viewBox="0 0 160 50" x="0px" y="0px" id="svg-61a9" style="enable-background:new 0 0 160 50;">
                <path d="M133,26.7c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,22
	c11.2-7.8,20.6-8.1,32.2,0c11,7.6,19,8.5,31.3,0c11.6-8.1,22.4-7.7,33.5,0c11.4,8,20.3,8.3,32.2,0c11.6-8.1,19.2-8.1,30.8,0
	l-3.8,4.7C146.9,20.2,142.3,20.2,133,26.7z M133,10.8c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0
	c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,6.1c11.2-7.8,20.6-8.1,32.2,0c11,7.6,19,8.5,31.3,0C75.1-2,85.9-1.6,97,6.1
	c11.4,8,20.3,8.3,32.2,0C140.8-2,148.4-2,160,6.1l-3.8,4.7C146.9,4.3,142.3,4.3,133,10.8z M32.2,38c11,7.6,19,8.5,31.3,0
	c11.6-8.1,22.4-7.7,33.5,0c11.4,8,20.3,8.3,32.2,0c11.6-8.1,19.2-8.1,30.8,0l-3.8,4.7c-9.3-6.5-13.9-6.5-23.3,0
	c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,38
	C11.2,30.2,20.6,29.9,32.2,38z"></path>
            </svg>
        </div>
        <div class="u-custom-color-5 u-shape u-shape-circle u-shape-2"></div>
        <div class="u-expanded-width-xs u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <h4 class="u-text u-text-2"> Entirely Paperless</h4><span class="u-file-icon u-icon u-icon-circle u-text-palette-1-base u-icon-1"><img src="~/Assets/images/about/crdit-model.png" alt=""></span>
                        <p class="u-text u-text-3"> From documentation to verification, every step of your application is fully digital.</p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <h4 class="u-text u-text-4"> Anywhere In India</h4><span class="u-file-icon u-icon u-icon-circle u-text-palette-1-base u-icon-2"><img src="~/Assets/images/about/india-map.png" alt=""></span>
                        <p class="u-text u-text-5"> Now, get an instant, paperless loan from the comfort of your home - anywhere in India</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-expanded-width-xs u-list u-list-2">
            <div class="u-repeater u-repeater-2">
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <h4 class="u-align-center-xs u-align-right-lg u-align-right-md u-align-right-sm u-align-right-xl u-text u-text-6"> Quick Eligibility Check</h4><span class="u-file-icon u-icon u-icon-circle u-text-palette-1-base u-icon-3"><img src="~/Assets/images/about/quick-register.png" alt=""></span>
                        <p class="u-align-center u-text u-text-7"> Learn if you're eligible for an instant loan in 2 mins and get the money in 24 hrs</p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <h4 class="u-align-center-xs u-align-right-lg u-align-right-md u-align-right-sm u-align-right-xl u-text u-text-8"> Our Own Credit Model</h4><span class="u-file-icon u-icon u-icon-circle u-text-palette-1-base u-icon-4"><img class="a11" src="~/Assets/images/about/entirely-paperless.png" alt=""></span>
                        <p class="u-align-center u-text u-text-9">
                            Low credit score? No problem! With our alternate credit m<span style="font-weight: 400;"></span>odel, you can still get a loan
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>>
<!---------------------------------------More Reason  End-------------------------------------------->
