
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media screen and (max-width: 763px) {
        .raiseaticketimage {
            width: 161px !important;
            height: 255px !important;
        }

        .sp1 {
            font-size: 17px;
        }

        .sp2 {
            padding: 63px;
        }

    }
</style>

@*Header Section  Start *@

<section>
    <div class="container">
        <div class="row d-flex flex-row-reverse">
            <div class="col-md-6 mt-5">
                <img src="~/Assets/images/support/support-banner.jpg" alt="support-banner" class=" text-center rounded mx-auto d-block w-75" />
            </div>
            <div class="col-md-6">
                <h1 class=" text-center headercolor" style="margin-top:100px;"><span class="rdqfinserv">RDQ Finserv</span> <br /><span style="font-weight:normal"></span> Always with You </h1>
                <p class="text-center mt-4 mb-3">
                    <span class="border-bottom border-3 supportcall" style="">
                        Call us @@ <a href="tel:" class="font-weight-700">033-68260900 </a>
                    </span><br />
                    <span class="supportcalltime">Mon - Sat : 10:00 A.M to 07:00 P.M</span>
                </p>
                <p class="text-center mt-2 supportcall">
                    Email us @@ <a href="mailto:" class="font-weight-700">support@rdqfinserv.com </a>
                </p>
                <p class="red text-center mt-2 mb-3 supportyou">24x7, support you</p>
            </div>
        </div>
    </div>
</section>

@*Header Section  End *@

@* Mostly Asked Questions Start *@

<section class="mt-5 bg-light" style="padding:10px 0 0">
    <div class="container">
        <div class="row  wow fadeIn" data-wow-duration="0.3s">
            <div class="col-md-12 mb-5  mt-5">
                <div class="section-title">
                    <h1 class="questionheader"> Mostly Asked <span class="question">Questions</span> </h1>
                </div>
                <div>
                    <h4 class="subsection-title text-dark">
                        Whoever you are, at whatever stage you are in, there is an offering for you at RDQ Finserv. Get
                        Started Now.
                    </h4>
                </div>
            </div>

            @* Question List Start *@
            <div class="col-md-6 mb-5">
                <div class="mycardsupport shadow-md">
                    <h6 class="card-title askedquestionheader">
                        How do I apply for a Loan from RDQ Finserv..!!
                    </h6>
                    <p class="card-text questionpara text-dark">
                        Download our mobile App from Google Play Store or Apple Play Store and register yourself with
                        the required information as guided on the screen.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-5">
                <div class="mycardsupport shadow-md">
                    <h6 class="card-title askedquestionheader">
                        What is the application process..!
                    </h6>
                    <p class="card-text questionpara text-dark">
                        Login with your credentials and complete the application process of the required loan.
                        Fulfil all the mandatory criteria and get notified instantly on your application status.
                        If you are unable to do the application through online due to any reason, please raise a
                        ticket and get a call back for further help.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-5">
                <div class="mycardsupport shadow-md">
                    <h6 class="card-title askedquestionheader">
                        How can I track my application status..!
                    </h6>
                    <p class="card-text questionpara text-dark">
                        When all the mandatory criteria and documentations are fulfilled, the screen will guide you
                        about the in-principal sanction details and next steps to be followed...
                    </p>
                    <p class="card-text questionpara text-dark">
                        For any exception, you will get a call back from our customer service desk to help you further.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-5">
                <div class="mycardsupport shadow-md">
                    <h6 class="card-title askedquestionheader">
                        How can I get the money whne my loan is sanctioned..!!
                    </h6>
                    <p class="card-text questionpara text-dark">
                        Post submission of your banking details and successful verification from our side, we will remit
                        the loan
                        disbursement amount to your bank account. It may take hardly 1 working day from the sanction of
                        your loan.
                    </p>
                </div>
            </div>

            <div class="col-md-6 mb-5">
                <div class="mycardsupport shadow-md">
                    <h6 class="card-title askedquestionheader">
                        How the repayment can be made..!
                    </h6>
                    <p class="card-text questionpara text-dark">
                        You need to pay through NACH as EMI (Equated Monthly Instalment) for all your term loan based on
                        the sanction terms.
                        If you miss any EMI on due date, repay through our online payment mechanism from your Net
                        Banking or Debit Card.
                    </p>
                </div>
            </div>

            @* Singnle Question Start *@
            <div class="col-md-6 mb-5">
                <div class="mycardsupport shadow-md">
                    <h6 class="card-title askedquestionheader">
                        How can I check my live loan status or reach out RDQ Finserv team for any query..!
                    </h6>
                    <p class="card-text questionpara text-dark">
                        You may login from our App dashboard or Website and get the complete information about your
                        loan, repayment status,
                        statement of account, loan amort schedule, etc. Once 100% repayment of loan outstanding is made,
                        you can extract the NOC/NDC.
                        Also, you will be notified in your registered mail id.
                    </p>
                    <p class="card-text questionpara text-dark">
                        For any additional information or query you may reach out to our Customer Care Team <a href="tel:">@@ 033-68260900.</a>
                        We will be happy to assist you always.
                    </p>
                </div>
            </div>
            @* Singnle Question End *@
            @* Question List End *@

        </div>
    </div>
</section>


@* Mostly Asked Questions End *@


@* Still Didn’t Find Your Answer Section Start *@
<section class="mt-5">
    <div class="container">
        <div class="row  wow fadeInUp" data-delay="0.300ms">
            <div class="col-1"></div>
            <div class="col-4 text-right">
                <img src="~/Assets/images/support/raise-ticket.jpg" class="raiseaticketimage" alt="raise-ticket" />
            </div>
            <div class="col-7 sp2">
                <h2 class="mb-3 sp1"> Still Didn’t Find Your Answer? </h2>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Submit a Ticket
                </button>
            </div>
        </div>
    </div>
</section>

@* Still Didn’t Find Your Answer Section Start *@



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Your Query</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>Select Query Types?</label>
                <select class="form-select" aria-label="Select Query Types?">
                    <option value="1">Personal Loan</option>
                    <option value="1">LAS Loan Against Securities</option>
                    <option value="1">Credit Card</option>
                    <option value="2">EMI Protection</option>
                    <option value="3">Consumer Durables</option>
                </select>
                <br />
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Your Full Name">
                    <label for="floatingInput">Full Name</label>
                </div>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingPassword" placeholder="Your Email Id">
                    <label for="floatingPassword">Your Email</label>
                </div>
                <div class="form-floating">
                    <input type="number" class="form-control" id="floatingPassword" placeholder="Your Contact No">
                    <label for="floatingPassword">Your Email</label>
                </div>
                <br />
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Enter Your Question Here..." id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Write Your Query</label>
                </div>
                <br />
                <button type="button" class="btn btn-outline-primary">Cancel</button>
                <button type="button" class="btn btn-outline-secondary">Send Query</button>
            </div>
        </div>
    </div>

</div>